# 1주차 Codekata

#### 1. 5명의 학생으로 이루어진 학교에서 학생들의 신체수치를 데이터화 하기 위해 id, name, age, height, weight 를 속성으로 리스트 데이터셋을 만들고 출력하세요. 데이터는 아래와 같습니다.
+ 1, john, 18, 180, 88
+ 2, bob, 18, 176, 66
+ 3, tera, 18, 170, 77
+ 4, jane, 18, 180, 99
+ 5, jim, 18, 172, 88

In [86]:
id <- c(1,2,3,4,5)
name <- c("john","bob","tera","jane","jim")
age <- c(18,18,18,18,18)
height <- c(180,176,170,180,172)
weight <- c(88,66,77,99,88)

In [89]:
student1 <- list(id, name, age, height, weight) # 리스트는 되도록 Key/Value 로 할것 데이터 프레임으로 변환시 컬럼이름이 임의로 들어감

In [90]:
student1 <- list(ID=id, NAME=name, AGE=age, HEIGHT=height, WEIGHT=weight)

In [91]:
student1

$ID
[1] 1 2 3 4 5

$NAME
[1] "john" "bob"  "tera" "jane" "jim"

$AGE
[1] 18 18 18 18 18

$HEIGHT
[1] 180 176 170 180 172

$WEIGHT
[1] 88 66 77 99 88

#### 2. student1 리스트를 student2 라는 이름의 데이터프레임으로 변환 출력하세요

In [92]:
student2 <- as.data.frame(student1)

In [93]:
student2

  ID NAME AGE HEIGHT WEIGHT
1 1  john 18  180    88
2 2  bob  18  176    66
3 3  tera 18  170    77
4 4  jane 18  180    99
5 5  jim  18  172    88

#### 3. 학생들의 ID, 키, 몸무게 만 뽑아서 matrix_student 라는 이름의 행열로 전화 하세요

In [108]:
matrix_student <- as.matrix(student2[c(1,4,5)])

In [109]:
matrix_student

     ID HEIGHT WEIGHT
[1,] 1  180    88
[2,] 2  176    66
[3,] 3  170    77
[4,] 4  180    99
[5,] 5  172    88

#### 4. matrix_student 행렬을 전치(transpose) 시키십시요

In [110]:
t(matrix_student)

       [,1] [,2] [,3] [,4] [,5]
ID       1    2    3    4    5
HEIGHT 180  176  170  180  172
WEIGHT  88   66   77   99   88

#### 5번. Student2["NAME"] 열의 속성은 문자인가 팩터 인가? 확인해보세요

In [96]:
is.factor(student2$NAME)

[1] TRUE

#### 6번, 리스트 student1을 데이터 프레임 student2 로 변환시 NAME 필드가 팩터형이 아닌 문자형으로 유지하게 변환하고, NAME 필드가 팩터형이지 확인 해보세요

In [97]:
student2 <- as.data.frame(student1, stringsAsFactors=FALSE)

In [98]:
is.factor(student2$NAME)

[1] FALSE

In [99]:
student2$NAME

[1] "john" "bob"  "tera" "jane" "jim"

#### 7번. matrix_student fmf